{% extends 'template.html' %}
{% block source %}
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap-paginator.js"></script>
    <script type="text/javascript">
        $(function () {
            var pages = {{ pages|safe }};
            $('#pageLimit').bootstrapPaginator({
                currentPage: pages.current,
                totalPages: pages.total,
                size: "normal",
                bootstrapMajorVersion: 3,
                alignment: "right",
                numberOfPages: pages.total % 20,
                itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first":
                            return "首页";
                        case "prev":
                            return "上一页";
                        case "next":
                            return "下一页";
                        case "last":
                            return "末页";
                        case "page":
                            return page;
                    }
                },
                onPageClicked: function (event, originalEvent, type, page) {
                    location.href = "/p" + page;
                }
            });

            positionFooter();
            function positionFooter() {
                if (($(document.body).height() + $(".footer").height()) < $(window).height()) {
                    $('.wrapper-catlog').height($(window).height());
                }
                $(".footer").css('display', 'block');
            }

            $(window).scroll(positionFooter).resize(positionFooter);
        });
    </script>
{% endblock %}
{% block header %}
<header>
<h1>test header</h1>
</header>
{% endblock %}
{% block block-content %}
    <div class="container wrapper-catlog">
        <div class="row">
            <ol class="breadcrumb">
                {% for foo in tabs %}
                    <li><a href="{{ foo.url }}">{{ foo.title }}</a></li>
                {% endfor %}
            </ol>
            <div class="catlog-grid">
                <div class="list-group col-md-9">
                    {% for foo in catlog %}
                        <a class="list-group-item" href="{{ foo.url }}" target="_blank">
                            <h4 class="list-group-item-heading">{{ foo.title }}
                                <small>{{ foo.comment }}</small>
                            </h4>
                            <div style="width: 100%; text-align: right">
                                <i class="fa fa-clock-o target-info" aria-hidden="true">{{ foo.date }}</i>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="col-md-3 right-bar"></div>
            </div>
        </div>
        <div id="pagebar" style="text-align: center">
            <ul id="pageLimit"></ul>
        </div>
    </div>
{% endblock %}
