{% extends 'template.html' %}
{% block source %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-paginator.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var pages = {{ pages|safe }};
            $('#pageLimit').bootstrapPaginator({
                currentPage: pages.current,
                totalPages: pages.total,
                size: "normal",
                bootstrapMajorVersion: 3,
                alignment: "right",
                numberOfPages: pages.total % 20,
                itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first":
                            return "首页";
                        case "prev":
                            return "上一页";
                        case "next":
                            return "下一页";
                        case "last":
                            return "末页";
                        case "page":
                            return page;
                    }
                },
                onPageClicked: function (event, originalEvent, type, page) {
                    location.href = "/p" + page;
                }
            });
        });
    </script>
{% endblock %}
{% block header %}
    {% if extpic.carousel %}
        <header>
            <div class="carousel slide header-content">
                <div class="carousel-inner">
                    {% for foo in extpic.carousel %}
                        {% if forloop.first %}
                            <div class="item active">
                                <img src="{{ foo.url }}" alt="{{ foo.title }}">
                            </div>
                        {% else %}
                            <div class="item"></div>
                            <img src="{{ foo.url }}" alt="{{ foo.title }}">
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="left carousel-control" href=".header-content" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href=".header-content" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </header>
    {% endif %}
{% endblock %}
{% block block-content %}
    <div class="container wrapper-catlog">
        <div class="row">
            <ol class="breadcrumb" style="margin-bottom: 5px">
                {% for foo in tabs %}
                    <li><a href="{{ foo.url }}">{{ foo.title }}</a></li>
                {% endfor %}
            </ol>
            <div class="col-md-12 catlog-grid">
                <div class="list-group col-md-9" style="padding-right:5px">
                    {% for foo in catlog %}
                        <a class="list-group-item" href="{{ foo.url }}" target="_blank">
                            <h4 class="list-group-item-heading">{{ foo.title }}
                                <small>{{ foo.comment }}</small>
                            </h4>
                            <div style="width: 100%; text-align: right">
                                <i class="fa fa-clock-o target-info" aria-hidden="true">{{ foo.date }}</i>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="col-md-3 right-bar">
                    {% if extpic.adpic %}
                        <div class="right-bar-pic">
                            <h2 class="ab_title">广而告之</h2>
                            {% for foo in extpic.adpic %}
                                <img src="{{ foo.url }}" alt="{{ foo.title }}" width="100%">
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="topten">
                        <h2 class="ab_title">最近更新</h2>
                        <ul>
                            {% for foo in top %}
                                <li><a href={{ foo.url }}>
                                    <h4>
                                        <b>{{ foo.title }}</b>
                                        <small>({{ foo.comment }})</small>
                                        <abbr title="创建日期：{{ foo.date }}" class="initialism">[{{ foo.group }}]</abbr>
                                    </h4>
                                </a></li>
                            {% empty %}
                                <li><b>Nothing</b></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="pagebar">
                <ul id="pageLimit"></ul>
            </div>
        </div>
    </div>
{% endblock %}
