{% extends 'template.html' %}
{% block source %}
    {% for script in dict.scripts %}
        {{ script }}
    {% endfor %}
    <script type="text/javascript">
        $.fn.extend({
            initializeImage: function () {
                var images = {{ dict.image|safe }};
                if (!$.isEmptyObject(images)) {
                    $(this).find('img').each(function () {
                        $(this).attr('src', images[$(this).attr('src')]);
                    });
                }
            },
            initializeCode: function () {
                if (typeof prettyPrint == 'function' && $(this).find('pre').length > 0) {
                    prettyPrint();
                }
            }
        });
        $(function () {
            $('.article_content').initializeImage();
            $('.article_content').initializeCode();
            positionFooter();

            function positionFooter() {
                if (($(document.body).height() + $(".footer").height()) < $(window).height()) {
                    $('.wrapper-content').height($(window).height());
                }
                $(".footer").css('display', 'block');
            }

            $(window).scroll(positionFooter).resize(positionFooter);
        });
    </script>
{% endblock %}
{% block block-content %}
    <div class="container wrapper-content">
        <div class="row">
            <ol class="breadcrumb">
                {% for foo in tabs %}
                    {% if forloop.last %}
                        <li>{{ foo.title }}</li>
                    {% else %}
                        <li><a href="{{ foo.url }}">{{ foo.title }}</a></li>
                    {% endif %}
                {% empty %}
                    <li><a>Nothing</a></li>
                {% endfor %}
            </ol>
            <div class="page-header">
                <h3>{{ dict.title }}
                    <small>{{ dict.comment }}</small>
                </h3>
            </div>
            <div class="article_content">
                {{ dict.article }}
            </div>
        </div>
    </div>
{% endblock %}
