{% extends 'template.html' %}
{% block css %}
    <link href="/static/article/css/mystyle.css" rel="stylesheet">
{% endblock %}
{% block block-content %}
    <ol class="breadcrumb">
        {% for foo in tabs %}
            <li><a href="{{ foo.url }}">{{ foo.title }}</a></li>
        {% empty %}
            <li><a>Nothing</a></li>
        {% endfor %}
    </ol>
    <div class="page-header">
        <h2>{{ dict.title }}
            <small>{{ dict.comment }}</small>
        </h2>
    </div>
    <div class="article_content">
        {{ dict.article }}
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/article/js/myjs.js"></script>
{% endblock %}