<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>安康博客</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{%static 'base/favicon.ico'%}">
    <link rel="stylesheet" href="{% static 'article/css/reset.css' %}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block source %}{% endblock %}
    <link href="{% static 'article/css/style.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'article/js/action.js' %}"></script>
</head>
<body>
{% block header %}{% endblock %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark cl-nav-bar">
    <div class="container">
        <a class="navbar-brand" href="/">安康博客</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_article"
                aria-controls="nav_article" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav_article">
            <ul id="roottitle" class="navbar-nav mr-auto">
                {% for fo in titles %}
                    {% ifequal fo.type "muilt" %}
                        <li class="dropdown nav-item {{ fo.state }}">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                {{ fo.comment }} <b class="caret"></b>
                            </a>
                            <div class="dropdown-menu">
                                {% for foo in fo.titles %}
                                    <a class="dropdown-item" href="{{ foo.url }}">{{ foo.comment }}</a>
                                {% empty %}
                                    <a class="dropdown-item">nothing</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item {{ fo.state }}"><a class="nav-link"
                                                               href="{{ fo.url }}">{{ fo.comment }}</a></li>
                    {% endifequal %}
                {% empty %}
                    <li><a>Nothing</a></li>
                {% endfor %}
            </ul>
            <form class="form-inline" action="{% url 'article:search' %}">
                <div class="input-group">
                    <input class="form-control search_bar_input" type="search" placeholder="请输入关键字" name="qrm"
                           value="{{ qrm }}" aria-label="Search" required style="border-radius: 0.25rem">
                    <button class="search_bar_btn" style="outline: none" type="submit">
                        <span><i class="fa fa-search"></i></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</nav>
{% block block-content %}{% endblock %}
<div class="text-center" id="to-top" style="display: none;">
    <i class="fa fa-chevron-up" id="btn-top" title="回到顶部"></i>
</div>
<div class="text-center" id="end_ppt" style="display: none;">
    <i class="fa fa-times" title="结束放映"></i>
</div>
{% include 'page/footer.html' %}
</body>
</html>