{% load humanize %}
<div class="list-group col-lg-9" style="padding-right:5px">
    {% for foo in catlog %}
        <div class="media mb-1 mb-sm-2 p-2 p-lg-3">
            <div class="align-self-center mr-2 mr-lg-3 w-25 modal-open">
                <a href="{{ foo.url }}" target="_blank">
                    <img class="w-100 article-img" src="{{ foo.timg|default:'/static/base/timg.png' }}"
                         alt="{{ foo.title }}">
                </a>
            </div>
            <div class="media-body">
                <div class="text-muted mb-2 f-12">
                    <span><i class="fa fa-user-circle-o mr-1"></i>Ankang</span>
                    <span><i class="fa fa-calendar-times-o ml-2 mr-1"></i>{{ foo.date|naturaltime }}</span>
                </div>
                <h2 class="mt-0 font-italic text-info">
                    <a href="{{ foo.url }}" target="_blank">{{ foo.title }}</a>
                    <small class="text-secondary">{{ foo.comment }}</small>
                </h2>
                <p class="d-none d-sm-block mb-2">{{ foo.summary|default:'没有简介...'|truncatechars:130 }}</p>
                <p class="d-block d-sm-none mb-2">{{ foo.summary|default:'没有简介...'|truncatechars:64 }}</p>
            </div>
        </div>
    {% endfor %}
</div>