{% extends 'template.html' %}
{% load article_tags %}
{% block source %}
    {% load staticfiles %}
    {% for item in dict.scripts %}
        {% if item.type == 'J' %}
            <script type="text/javascript" src="{% static item.url %}" charset="UTF-8"></script>
        {% elif item.type == 'C' %}
            <link href="{% static item.url %}" rel="stylesheet">
        {% endif %}
    {% endfor %}
    <script type="text/javascript">
        $.fn.extend({
            initializeImage: function () {
                var images = {{ dict.image|safe }};
                if (!$.isEmptyObject(images)) {
                    $(this).find('img').each(function () {
                        $(this).addClass('img-fluid');
                        $(this).attr('src', images[$(this).attr('alt')]);
                    });
                }
            },
            initializeCode: function () {
                if (typeof prettyPrint == 'function' && $(this).find('pre').length > 0) {
                    prettyPrint();
                }
            },
            initializeNav: function (select) {
                var lastElm,
                    speedstep = .05,
                    colorbang = ['#f1c40f', '#c0392b', '#e67e22', '#2ecc71', '#3498db'];
                $(this).find('*').each(function (index, element) {
                    var tagetT = $(element).get(0).tagName.substr(0, 2).toUpperCase();
                    if (tagetT == 'H2' || tagetT == 'H3') {
                        $(element).addClass('title-nav');
                        var contentH = $(element).html();//获取内容
                        var markid = "M-" + $(element).get(0).tagName + "-" + index.toString();
                        $(this).attr('id', markid);
                        if (tagetT.substr(1, 2) == '2') {
                            var curcol = colorbang.pop();
                            $(element).css('border-left', '5px solid ' + curcol);
                            if ($(select).children('ul').length == 0) {
                                $(select).append(document.createElement('ul'));
                            }
                            var h2ele = $(select).children('ul').get(0);
                            $(h2ele).append("<li class='bookmark' style='transition-delay: " + speedstep + "s;'><a href='#" + markid + "' style='border-right: 5px solid " + curcol + ";'>" + contentH + "</a></li>");
                            lastElm = $(h2ele).children('li').get($(h2ele).children('li').length - 1);
                            speedstep = speedstep + .05;
                        } else {
                            if (lastElm) {
                                if ($(lastElm).children('ul').length == 0) {
                                    $(lastElm).append(document.createElement('ul'));
                                }
                                var h3ele = $(lastElm).children('ul').get(0);
                                $(h3ele).append("<li class='bookmark' style='transition-delay: " + speedstep + "s;'><a href='#" + markid + "' style='border-right: 3px solid #2c3e50;'>" + contentH + "</a></li>");
                                speedstep = speedstep + .05;
                            }
                        }
                    }
                });
                //锚点平滑移动到指定位置
                if (lastElm) {
                    $(select).find('li a').click(function () {
                        $(select).find('li a').css("color", "#0099ff");
                        $(this).css("color", "red");
                        $('html, body').animate({
                            scrollTop: $($.attr(this, 'href')).offset().top - 56
                        }, 500);
                        return false;
                    });
                    $('.bookmark').hover(function () {
                        $('.bookmark').css('width', '150px');
                    }, function () {
                        $('.bookmark').css('width', '20px');
                    });
                }
            }
        });
        $(function () {
            $('.article_content').initializeImage();
            $('.article_content').initializeCode();
            $('.article_content').initializeNav(".article-nav-list");
        });
    </script>
{% endblock %}
{% block block-content %}
    <div class="container wrapper-content">
        {% get_article_tabs %}
        <div class="row">
            <div class="col-12 page-header">
                <h2 class="card-title text-info pb-2 mb-4 font-italic border-bottom">{{ dict.title }}
                    <small>{{ dict.comment }}</small>
                    <span class="blog-post-meta">{{ dict.date }}</span>
                </h2>
            </div>
            <div class="col-12 article_content">
                {% if dict.summary %}
                    <p>{{ dict.summary }}</p>
                {% endif %}
                {{ dict.article }}
            </div>
        </div>
    </div>
    <div class="article-nav-wrap d-none d-xl-block">
        <div class="article-nav-list"></div>
    </div>
{% endblock %}
