<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>welcome</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/my/css/mystyle.css" rel="stylesheet">
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/my/js/myjs.js"></script>
</head>
<body>
<nav class="navbar-inverse" role="navigation">
    <div class="row">
        <div class="container navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">安康的Blog</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#">JAVA</a></li>
                <li><a href="#">PYTHON</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        SQL <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">jmeter</a></li>
                        <li><a href="#">EJB</a></li>
                        <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><span
                                class="glyphicon glyphicon-search"></span></button>
                    </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container"/>
<div class="row">
    <ol class="breadcrumb">
        <li><a href="#">{{ dict.group }}</a></li>
        <li><a href="#">{{ dict.date }}</a></li>
    </ol>
    <div class="page-header">
        <h2>{{ dict.title }}
            <small>{{ dict.comment }}</small>
        </h2>
    </div>
    <div class="article_content">
        {{ dict.article }}
    </div>
</div>
</body>
</html>