body {
    background: #f1f1f1 none repeat scroll 0 0;
}

.wrapper-catlog {
    background: rgba(0, 0, 0, 0) url("/static/images/bg.png") repeat scroll center top;
    box-shadow: 0 1px 3px 0 #b5b5b5;
    height: 0px;
    padding-bottom: 100%;
    position: relative;
}

#pagebar {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.catlog-grid {
    padding: 0 5px 0 5px;
}

.target-info {
    font-size: 12px;
}

.wrapper-content {
    background: #fff repeat scroll center top;
    box-shadow: 0 1px 3px 0 #b5b5b5;
    height: 0px;
    padding-bottom: 100%
}

.right-bar {
    background: url("/static/images/bar-right.gif");
    border-radius: 4px;
    border: 1px solid #ddd;
    height: 200px;
}

.page-header {
    padding-left: 10px;
}

.article_content {
    padding: 0 10px 20px 10px;
}

.footer {
    border-top: 1px solid #e5e5e5;
    color: #666;
    width: 100%;
    padding: 20px 0;
    background-color: #2a2730;
}

.footer p, .footer li, .footer h4, .footer a {
    color: #fff;
}